html,body {
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin: 0px;
    overflow: hidden;
    box-sizing:border-box;
    
  }
#main_cont {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#encabezado {
    width: 100%;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
    background-color: whitesmoke;
}
#container {
    height: 100%;
    display: flex;
    flex-direction: row;
}
#algebra {

    background-color: white;
    width: 400px;
    height: calc(100% - 2px);
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    
}
#vectores {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#vectores span.entrada {
    width: 70px;
    
}
#entradas {
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-bottom: 1px solid lightgray;
}

#entradas span.entrada {
    width: 90%;
}





